---
import ArchiveCard from '../../components/ArchiveCard.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import { getArchive, getSortedPosts, getTagList } from '../../utils/content-utils';
import { formatDateToYYYYMMDD } from '../../utils/date-utils';

export async function getStaticPaths() {
    const tags = await getTagList()
    return tags.map(tag => ({ params: { tag: tag.name }, props: { tag } }))
}

const { tag }: any = Astro.props;

const archive = await getArchive(tag.name)

const years = Object.keys(archive).sort((a, b) => b.localeCompare(a))

---

<MainLayout title={`标签：${tag.name}`} description={tag.name}>
    <div class="text-2xl pb-4 font-bold">标签：{tag.name}</div>
    <div class="flex flex-col gap-4">
        { years.map(year => <ArchiveCard year={year} posts={archive[year]}></ArchiveCard>) }
    </div>
</MainLayout>