---
import MainLayout from '../../layouts/MainLayout.astro';
import { getSortedPosts, getTagList } from '../../utils/content-utils';
import { formatDateToYYYYMMDD } from '../../utils/date-utils';

export async function getStaticPaths() {
    const tags = await getTagList()
    return tags.map(tag => ({ params: { tag: tag.name }, props: { tag } }))
}

const { tag }: any = Astro.props;

const posts = (await getSortedPosts()).filter(post => (post.data.tags && post.data.tags.includes(tag.name)))

---

<MainLayout title={`标签：${tag.name}`} description={tag.name}>
    <div class="text-2xl pb-2 font-bold">标签：{tag.name}</div>
    { posts.map(post => <div><span class="pr-4 text-gray-400">{formatDateToYYYYMMDD(post.data.date)}</span><a href={`/posts/${post.slug}`} class="link">{post.data.title}</a></div>) }
</MainLayout>