---
import { formatDateToYYYYMMDD } from "../utils/date-utils";

interface Props {
    title: string;
    date: Date;
    description: string;
    tags: string[]
    slug: string;
}

const { title, date, description, slug, tags } = Astro.props;
---

<div class="flex flex-col gap-1">
    <div>
        <a href={`/posts/${slug}`} class="text-xl font-bold link">{title}</a>
    </div>
    <div class="flex gap-4 text-sm text-gray-400">
        <span>发布于 {formatDateToYYYYMMDD(date)}</span>
        { tags?.map((tag) => <a href={`/tags/${tag}`} class="link">#{tag}</a>) }
    </div>
    <div class="text-lg">
        {description}
    </div>
</div>
