---
import PostCard from "./PostCard.astro";

const { page } = Astro.props;
---

<section class="flex flex-col gap-4">
    {
        page.data.map(({ data, slug }: any) => (
            <PostCard
                title={data.title}
                date={data.date}
                description={data.description}
                tags={data.tags}
                slug={slug}
            />
        ))
    }
</section>
